include ../icon.jade

doctype html
html(lang='en')
  head
    include ../head.jade
    title=content.pageTitle
  body.page-home
    .navbar.navbar-light.bg-primary
      .navbar-brand
        +svg('marmalade-logo')
    .embed-responsive.embed-responsive-16by9
      iframe#video.embed-responsive-item(src='#{content.jumbotronVideo}?api=1' webkitallowfullscreen mozallowfullscreen allowfullscreen)
      .container-lead.vert-center.jumbotron.bg-inverse.embed-responsive-item(style="background: url(#{content.jumbotronBg}); background-size:cover;")
        .vert-center-item
          h1.font-feature=content.jumbotronH1
          +icon('dots', 'fill-white svg-icon-lg')
          br
          #play.lead
            button.btn.btn-link.white(type='button')=content.jumbotronLead
          a(href='#about').hidden-sm-down.walk-this-way
            +icon('down-arrow', 'fill-white stroke-white')

    .container-fluid.bg-inverse.contact-us#about
      p
        a.btn.btn-link.grey-light.text-decoration-none(href='#contact') Contact us

    section.about
      .container.container-restrainer
        p.display-1.font-feature.m-t-2.m-b-0=content.aboutLead
        hr
        p.text-sm-left.text-md-left=content.aboutCopy
        br
        a(href=content.aboutLinkTarget)=content.aboutLink
        br
        +icon('down-arrow', 'fill-gray stroke-gray m-t-1')

    section.social.bg-primary
      .container.container-restrainer
        h1.text-uppercase=content.socialH1
        hr
        article.m-y-1
          a.twitter-timeline(href='https://twitter.com/marmaladestu' data-widget-id='710084963014672384' data-tweet-limit='1' data-chrome='noheader nofooter noborders noscrollbar')
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        a(href=content.socialLinkTarget)
          +icon('twitter-button')   
          span=content.socialLink
    
    section.clients.bg-accent
      .container.container-restrainer
        h1.text-uppercase=content.clientsH1
        hr
        #clients-carousel.carousel.slide.m-y-1(data-ride='carousel' data-interval='9999999')
          .carousel-inner(role='listbox')
            each client, i in content.clientsCarousel
              .carousel-item(style="background-image: url(#{client});")
                span.sr-only Client #{i + 1} 
          a.left.carousel-control(href='#clients-carousel' role='button' data-slide='prev')
            +icon('left-arrow-grey', 'carousel-icons')
            span.sr-only Previous client
          a.right.carousel-control(href='#clients-carousel' role='button' data-slide='next')
            +icon('right-arrow-grey', 'carousel-icons')
            span.sr-only Previous client
        a(href=content.clientsLinkTarget)=content.clientsLink
        br
        a(href='#clients-fulllist' data-toggle='collapse' aria-expanded='false' aria-controls='clients-fulllist')
          +icon('down-arrow', 'fill-gray stroke-gray m-t-1')
        #clients-fulllist.collapse
          p.m-t-1=content.clientsFullList
        
    section#team.team
      .container.container-restrainer
        h1.text-uppercase=content.theteamH1
        hr
        .container.p-x-0
          .row
            .col-sm-5
              img.img-fluid(src='#{content.theteamMugshot}' alt='#{content.theteamName}')
            .col-sm-7.text-sm-left
              p=content.theteamName
              p=content.theteamCopy
                br
                a(href='mailto:#{content.theteamEmailLink}')=content.theteamEmail
                br
                a(href='tel:#{content.theteamPhone}')=content.theteamPhone

    section.services.bg-primary
      .container.container-restrainer
        h1.text-uppercase.rolodex-titlebar #{content.servicesH1}:&nbsp;#[span(id='rolodex-titlebar')]
        hr
        .rolodex.m-t-3
          .rolodex-inner
            ul.list-inline.rolodex-list
              each service in content.services
                -var title = toSlug(service.title)
                li.list-inline-item.rolodex-item(data-dex-item='#{title}')
                  +icon(title)
          a.rolodex-control.left.bg-primary(href='#rolodex' role='button' data-dex='prev')
            +icon('left-arrow-grey')
          a.rolodex-control.right.bg-primary(href='#rolodex' role='button' data-dex='next')
            +icon('right-arrow-grey')
        .rolodex-content.m-y-3
          each service in content.services
            p.rolodex-content-item(data-dex-item='#{toSlug(service.title)}')=service.copy
    
    section#contact.contact
      .container.container-restrainer
        .row.m-b-1
          .col-sm-5
            h1.text-sm-left.text-uppercase=content.contactH1
            hr.left.hidden-xs-down
            hr.hidden-sm-up
            .text-sm-left
              !=md.render(content.contactAddress)
            p.text-sm-left.m-b-1
              br
              a(href='tel:#{content.contactPhone}').text-decoration-none=content.contactPhone
              br
              a(href='mailto:#{content.contactEmailLink}').text-decoration-none=content.contactEmail
          .col-sm-7
            -var coords = content.contactLocation[0]+","+content.contactLocation[1]
            -var mapuri = 'https://maps.googleapis.com/maps/api/staticmap?center='+coords+'&zoom=15&size=400x300&scale=2&maptype=roadmap&markers=color:0xF4E17B%7Cmarkers=size:mid%7C'+coords+'&key=AIzaSyAGfaHukFFe0Mq0SUsfenwBMU9frvLZiyk'

            a(href='https://www.google.co.uk/maps/place/' + coords + '/@' + coords + ',15z')
              img.img-fluid(src=mapuri)
        .row.m-t-3
          .col-xs-12.col-sm-6.text-sm-left
            ul.list-inline
              li.list-inline-item
                +icon('facebook-button')
              li.list-inline-item
                +icon('twitter-button')
              li.list-inline-item
                +icon('vimeo-button')
          .col-xs-12.text-center.hidden-sm-up
            +icon('up-arrow-grey')
          .col-xs-12.col-sm-6.text-sm-right.p-t-1
            a(href='#video').text-decoration-none.back-to-top Back to the top
              +icon('up-arrow-grey', 'hidden-sm-down')

    footer.text-xs-center.bg-primary.p-y-1
      ul.list-inline
        li.list-inline-item &#169; 2016 Marmalade Productions
        // pending page content from marmalade productions
        //- li.list-inline-item
        //-   a(href='/terms').text-decoration-none T&amp;Cs
        //- li.list-inline-item
        //-   a(href='/disclaimer').text-decoration-none Disclaimer

    div.svg-bundle
      include ../bundle.svg
    script(src='#{meta.relativePathToRoot}/bundle.js')
