include ../icon.jade

doctype html
html(lang='en')
  head
    include ../head.jade
    title=content.pageTitle
  body.page-home
    .navbar.navbar-light.bg-primary
      .navbar-brand
        +svg('marmalade-logo')
    .jumbotron.p-b-3.bg-inverse(style="background: url(#{content.jumbotronBg}); background-size:cover; min-height:400px;")
      h1.font-feature=content.jumbotronH1
      +icon('dots', 'fill-white')
      p.lead=content.jumbotronLead
    
    section.about.p-y-2.p-x-1
      h1.text-uppercase=content.aboutH1
      p.display-1.font-feature.m-b-0=content.aboutLead
      hr
      p.text-sm-left.text-md-left=content.aboutCopy
      p.p-t-3
        a(href=content.aboutLinkTarget)=content.aboutLink
          +icon('down-arrow-grey')
    
    section.social.bg-primary.p-y-3.p-x-1
      h1.text-uppercase.p-b-1=content.socialH1
      hr
      p Calling all actors! We're looking for some talented folk to film with us on a short film project: http://www.castingcallpro.com/uk/job/321903/buried … #actors #film
      p.m-b-1 3:43 p.m. - 9 Mar 2016
      a(href=content.socialLinkTarget)
        +icon('twitter-button')   
        span=content.socialLink
    
    section.clients.bg-accent.p-y-3.p-x-1
      h1.text-uppercase.p-b-1=content.clientsH1
      #clients-carousel.carousel.slide.m-y-1(data-ride='carousel' data-interval='9999999')
        .carousel-inner(role='listbox')
          each client, i in content.clientsCarousel
            .carousel-item(style="background-image: url(#{client});")
              span.sr-only Client #{i + 1} 
        a.left.carousel-control(href='#clients-carousel' role='button' data-slide='prev')
          +icon('left-arrow-grey', 'carousel-icons')
          span.sr-only Previous client
        a.right.carousel-control(href='#clients-carousel' role='button' data-slide='next')
          +icon('right-arrow-grey', 'carousel-icons')
          span.sr-only Previous client
      a(href=content.clientsLinkTarget)
        span=content.clientsLink
      br
      a(href='#clients-fulllist' data-toggle='collapse' aria-expanded='false' aria-controls='clients-fulllist')
        +icon('down-arrow-grey')
      #clients-fulllist.collapse
        p.m-y-1=content.clientsFullList
        
        
    section.team.p-y-3.p-x-1
      h1.text-uppercase.p-b-1=content.theteamH1
      hr
      .container.p-x-0
        .row
          .col-sm-5
            img.img-fluid.p-b-1(src='#{content.theteamMugshot}' alt='#{content.theteamName}')
          .col-sm-7.text-sm-left
            p=content.theteamName
            p=content.theteamCopy
            p
              a(href='mailto:#{content.theteamEmailLink}')=content.theteamEmail
            p=content.theteamPhone
    
    section.services.bg-primary.p-y-3.p-x-1
      h1.text-uppercase.p-b-1=content.servicesH1
      hr
      +svg('brief')
      p.m-t-1.text-md-left=content.servicesCopy
    
    section.contact.p-y-3.p-x-1
      .container.p-x-0
        .row
          .col-sm-7
            h1.text-uppercase=content.contactH1
            hr
            p=content.contactCopy
            p
              a(href='mailto:#{content.contactEmailLink}')=content.contactEmail
            p=content.contactPhone
          .col-sm-5
            -var mapuri = "https://maps.googleapis.com/maps/api/staticmap?center=51.4615700,-0.068100&zoom=15&size=400x200&scale=2&maptype=roadmap&markers=color:0xF4E17B%7Cmarkers=size:mid%7C"+content.contactLocation[0]+","+content.contactLocation[1]+"&key=AIzaSyAGfaHukFFe0Mq0SUsfenwBMU9frvLZiyk"
            img.img-fluid(src=mapuri)
        .row.p-y-1
          .col-xs-12
            ul.list-inline
              li.list-inline-item
                +icon('facebook-button')
                li.list-inline-item
                  +icon('twitter-button')
                  li.list-inline-item
                    +icon('vimeo-button')
    footer.text-xs-center.text-md-right
      small copyright &#169; 2016 Marmalade Productions

    include ../bundle.svg
    script(src='#{meta.relativePathToRoot}/bundle.js')
