include ../icon.jade

doctype html
html(lang='en')
  head
    include ../head.jade
    title=content.pageTitle
  body.page-home
    .navbar.navbar-light.bg-primary
      .navbar-brand
        +svg('marmalade-logo')
    .jumbotron.p-b-3.bg-inverse(style="background: url(#{content.jumbotronBg}); background-size:cover; min-height:400px;")
      h1.font-feature=content.jumbotronH1
      p.lead=content.jumbotronLead
    section.about
      h1.text-uppercase.p-t-2.p-b-1=content.aboutH1
      p.display-1.font-feature.m-b-0=content.aboutLead
      hr
      p=content.aboutCopy
      p
        a(href=content.aboutLinkTarget)=content.aboutLink
          +icon('down-arrow-grey')
      
    include ../bundle.svg
