include ../icon.jade

doctype html
html(lang='en')
  head
    include ../head.jade
    title=content.pageTitle
  body.page-home
    .navbar.navbar-light.bg-primary
      .navbar-brand
        +svg('marmalade-logo')
    .jumbotron.bg-inverse(style="background: url(#{content.jumbotronBg}); background-size:cover; min-height:400px;")
      h1.font-feature=content.jumbotronH1
      +icon('dots', 'fill-white')
      p.lead=content.jumbotronLead
    .container-fluid.bg-typography
      a(href='#contact') Contact us
    
    section.about
      .container.container-restrainer
        h1.text-uppercase=content.aboutH1
        p.display-1.font-feature.m-b-0=content.aboutLead
        hr
        p.text-sm-left.text-md-left=content.aboutCopy
        br
        a(href=content.aboutLinkTarget)=content.aboutLink
        br
        +icon('down-arrow-grey', 'm-t-1')

    section.social.bg-primary
      .container.container-restrainer
        h1.text-uppercase=content.socialH1
        hr
        article.m-y-1
          a.twitter-timeline(href='https://twitter.com/marmaladestu' data-widget-id='710084963014672384' data-tweet-limit='1' data-chrome='noheader nofooter noborders noscrollbar')
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        a(href=content.socialLinkTarget)
          +icon('twitter-button')   
          span=content.socialLink
    
    section.clients.bg-accent
      .container.container-restrainer
        h1.text-uppercase=content.clientsH1
        hr
        #clients-carousel.carousel.slide.m-y-1(data-ride='carousel' data-interval='999999')
          .carousel-inner(role='listbox')
            each client, i in content.clientsCarousel
              .carousel-item(style="background-image: url(#{client});")
                span.sr-only Client #{i + 1} 
          a.left.carousel-control(href='#clients-carousel' role='button' data-slide='prev')
            +icon('left-arrow-grey', 'carousel-icons')
            span.sr-only Previous client
          a.right.carousel-control(href='#clients-carousel' role='button' data-slide='next')
            +icon('right-arrow-grey', 'carousel-icons')
            span.sr-only Previous client
        a(href=content.clientsLinkTarget)=content.clientsLink
        br
        a(href='#clients-fulllist' data-toggle='collapse' aria-expanded='false' aria-controls='clients-fulllist')
          +icon('down-arrow-grey', 'm-t-1')
        #clients-fulllist.collapse
          p.m-t-1=content.clientsFullList
        
    section.team
      .container.container-restrainer
        h1.text-uppercase=content.theteamH1
        hr
        .container.p-x-0
          .row
            .col-sm-5
              img.img-fluid.m-b-1(src='#{content.theteamMugshot}' alt='#{content.theteamName}')
            .col-sm-7.text-sm-left
              p=content.theteamName
              p=content.theteamCopy
                br
                a(href='mailto:#{content.theteamEmailLink}')=content.theteamEmail
                br
                a(href='tel:#{content.theteamPhone}')=content.theteamPhone

    section.services.bg-primary
      .container.container-restrainer
        h1.text-uppercase=content.servicesH1
        hr
        .rolodex
          .rolodex-inner
            ul.list-inline.rolodex-list
              li.list-inline-item.rolodex-item
                +icon('brief')
              li.list-inline-item.rolodex-item.active
                +icon('pre-production')
              li.list-inline-item.rolodex-item
                +icon('the-shoot')
              li.list-inline-item.rolodex-item
                +icon('post-production')
          a.rolodex-control.left.bg-primary(href='#rolodex' role='button' data-dex='prev')
            +icon('left-arrow-grey')
          a.rolodex-control.right.bg-primary(href='#rolodex' role='button' data-dex='next')
            +icon('right-arrow-grey')
        .rolodex-content.m-y-3
          p.rolodex-content-item(data-dex-item='brief') brief Viverra nec. Ratione dignissim cillum mi quam hic, ultricies, delectus corporis nascetur voluptas interdum, libero quaerat, litora habitasse, semper laboriosam, accusantium alias quo facilisis sapiente soluta reprehenderit sint! Laoreet corporis sint risus, recusandae curae? Numquam doloremque, auctor ut rhoncus.
          p.rolodex-content-item(data-dex-item='pre-production') pre-production Viverra nec. Ratione dignissim cillum mi quam hic, ultricies, delectus corporis nascetur voluptas interdum, libero quaerat, litora habitasse, semper laboriosam.
          p.rolodex-content-item(data-dex-item='the-shoot') The Shoot -production Viverra nec. Ratione dignissim cillum mi quam hic, ultricies, delectus corporis nascetur voluptas interdum, libero quaerat, litora habitasse, semper laboriosam.
          p.rolodex-content-item(data-dex-item='post-production') post-production Viverra nec. Ratione dignissim cillum mi quam hic, ultricies, delectus corporis nascetur voluptas interdum, libero quaerat, litora habitasse, semper laboriosam.
    
    section#contact.contact
      .container.container-restrainer
        .row.m-b-1
          .col-sm-5
            h1.text-uppercase=content.contactH1
            hr
            p.text-sm-left
              !=md.render(content.contactAddress)
            p.text-sm-left.m-b-1
              br
              a(href='mailto:#{content.contactEmailLink}')=content.contactEmail
              br
              a(href='tel:#{content.contactPhone}')=content.contactPhone
          .col-sm-7
            -var mapuri = "https://maps.googleapis.com/maps/api/staticmap?center=51.4615700,-0.068100&zoom=15&size=400x200&scale=2&maptype=roadmap&markers=color:0xF4E17B%7Cmarkers=size:mid%7C"+content.contactLocation[0]+","+content.contactLocation[1]+"&key=AIzaSyAGfaHukFFe0Mq0SUsfenwBMU9frvLZiyk"
            img.img-fluid(src=mapuri)
        .row.m-t-3
          .col-xs-12
            ul.list-inline
              li.list-inline-item
                +icon('facebook-button')
              li.list-inline-item
                +icon('twitter-button')
              li.list-inline-item
                +icon('vimeo-button')
    footer.text-xs-center
      small copyright &#169; 2016 Marmalade Productions

    include ../bundle.svg
    script(src='#{meta.relativePathToRoot}/bundle.js')
